/* Empieza Inspiracion */
#inspiracion {
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);

  #inspiracion-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;

    li {
      cursor: pointer;
      margin: 15px 15px 15px 0;
      display: inline-block;
      padding: 6px 20px;
      font-size: 12px;
      line-height: 20px;
      color: #007bff;
      border-radius: 50px;
      text-transform: uppercase;
      background: #ecf5ff;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &.filter-active {
        background: #007bff;
        color: #fff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .inspiracion-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    .inspiracion-wrap {
      overflow: hidden;
      position: relative;
      border-radius: 6px;
      margin: 0;

      &:hover img {
        opacity: 0.4;
        transition: 0.3s;
      }

      .inspiracion-info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        opacity: 0;
        transition: 0.2s linear;

        h4 {
          font-size: 22px;
          line-height: 1;
          font-weight: 700;
          margin-bottom: 14px;

          a {
            color: #fff;

            &:hover {
              color: #007bff;
            }
          }
        }

        p {
          padding: 0;
          margin: 0;
          color: #e2effe;
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
        }

        .link-preview,
        .link-details {
          display: inline-block;
          line-height: 1;
          text-align: center;
          width: 36px;
          height: 36px;
          background: #007bff;
          border-radius: 50%;
          margin: 10px 4px 0 4px;

          i {
            padding-top: 6px;
            font-size: 22px;
            color: #fff;
          }

          &:hover {
            background: #3395ff;

            i {
              color: #fff;
            }
          }
        }
      }
    }

    &:hover {
      background: #616161;

      .inspiracion-info {
        opacity: 1;
      }
    }
  }
}

.sobre2 {
  font-size: 80px;
  text-transform: lowercase;
}

.titulares2 {
  color: black;
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 8px;
}

.parrafo2 {
  color: black;
  font-size: 13px;
}

/* General Styles for h5 */
h5{
   
  margin-top: 20px;
  color: white;
  background-color:#141414;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
}





#portfolio4 .container{
margin-top: 55px;

}

#portfolio4 {
 padding: 60px 0;
 box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#portfolio4 #portfolio4-flters {
 padding: 0;
 margin: 5px 0 35px 0;
 list-style: none;
 text-align: center;
}

#portfolio4 #portfolio4-flters li {
 cursor: pointer;
 margin: 15px 15px 15px 0;
 display: inline-block;
 padding: 6px 20px;
 font-size: 12px;
 line-height: 20px;
 color: #007bff;
 border-radius: 50px;
 text-transform: uppercase;
 background: #ecf5ff;
 margin-bottom: 5px;
 transition: all 0.3s ease-in-out;
}

#portfolio4 #portfolio4-flters li:hover,
#portfolio4 #portfolio4-flters li.filter-active {
 background: #007bff;
 color: #fff;
}

#portfolio4 #portfolio4-flters li:last-child {
 margin-right: 0;
}

#portfolio4 .portfolio4-item {
 position: relative;
 overflow: hidden;
 margin-bottom: 30px;
}

#portfolio4 .portfolio4-item .portfolio4-wrap {
 overflow: hidden;
 position: relative;
 border-radius: 6px;
 margin: 0;
}

#portfolio4 .portfolio4-item .portfolio4-wrap:hover img {
 opacity: 0.4;
 transition: 0.3s;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -webkit-justify-content: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
 text-align: center;
 opacity: 0;
 transition: 0.2s linear;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info h4 {
 font-size: 22px;
 line-height: 1px;
 font-weight: 700;
 margin-bottom: 14px;
 padding-bottom: 0;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info h4 a {
 color: #fff;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info h4 a:hover {
 color: #007bff;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info p {
 padding: 0;
 margin: 0;
 color: #e2effe;
 font-weight: 500;
 font-size: 14px;
 text-transform: uppercase;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info .link-preview,
#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info .link-details {
 display: inline-block;
 line-height: 1;
 text-align: center;
 width: 36px;
 height: 36px;
 background: #007bff;
 border-radius: 50%;
 margin: 10px 4px 0 4px;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info .link-preview i,
#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info .link-details i {
 padding-top: 6px;
 font-size: 22px;
 color: #fff;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info .link-preview:hover,
#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info .link-details:hover {
 background: #3395ff;
}

#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info .link-preview:hover i,
#portfolio4 .portfolio4-item .portfolio4-wrap .portfolio4-info .link-details:hover i {
 color: #fff;
}

#portfolio4 .portfolio4-item .portfolio4-wrap:hover {
 background: #003166;
}

#portfolio4 .portfolio4-item .portfolio4-wrap:hover .portfolio3-info {
 opacity: 1;
}


.sobre{
font-size: 80px;
text-transform: lowercase;
}


.titulares3 {
color: black;
font-size: 16.5px;
margin-bottom: 8px;
margin-top: 10px;
font-weight: bold;

}

.cargo3 {
color: black;
font-size: 16px;
margin-bottom: 0px;
margin-top: 0px;
}

.parrafo3 {
color: black;
font-size: 13px;
margin-bottom: 0px;
margin-top: 0px;

}
/* Termina Inspiracion David Carson  */

/* Empieza inspiracionisidro.html
--------------------------------*/
#isidro .container{
  margin-top: 55px;
  }
  
  
  #isidro {
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  }
  
  #isidro #isidro-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  #isidro #isidro-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #007bff;
    border-radius: 50px;
    text-transform: uppercase;
    background: #ecf5ff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  #isidro #isidro-flters li:hover,
  #isidro #isidro-flters li.filter-active {
    background: #007bff;
    color: #fff;
  }
  
  #isidro #isidro-flters li:last-child {
    margin-right: 0;
  }
  
  #isidro .isidro-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  #isidro .isidro-item .isidro-wrap {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    margin: 0;
  }
  
  #isidro .isidro-item .isidro-wrap:hover img {
    opacity: 0.4;
    transition: 0.3s;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info h4 {
    font-size: 22px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-bottom: 0;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info h4 a {
    color: #fff;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info h4 a:hover {
    color: #007bff;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info p {
    padding: 0;
    margin: 0;
    color: #e2effe;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info .link-preview,
  #isidro .isidro-item .isidro-wrap .isidro-info .link-details {
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #007bff;
    border-radius: 50%;
    margin: 10px 4px 0 4px;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info .link-preview i,
  #isidro .isidro-item .isidro-wrap .isidro-info .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #fff;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info .link-preview:hover,
  #isidro .isidro-item .isidro-wrap .isidro-info .link-details:hover {
    background: #3395ff;
  }
  
  #isidro .isidro-item .isidro-wrap .isidro-info .link-preview:hover i,
  #isidro .isidro-item .isidro-wrap .isidro-info .link-details:hover i {
    color: #fff;
  }
  
  #isidro .isidro-item .isidro-wrap:hover {
    background: #003166;
  }
  
  #isidro .isidro-item .isidro-wrap:hover .isidro-info {
    opacity: 1;
  }
  
  
  .sobre{
  font-size: 80px;
  text-transform: lowercase;
  }
  
  
  .titulares3 {
  color: black;
  font-size: 16.5px;
  margin-bottom: 8px;
  margin-top: 10px;
  font-weight: bold;
  
  
  }
  
  .cargo3 {
  color: black;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
  
  
  
  }
  
  .parrafo3 {
  color: black;
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 0px;
  
  }
  /* Termina inspiracionisidro.html
  --------------------------------*/